.create-recipe-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.85);
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  min-height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  overflow-y: auto;
}

.error-border {
  border-left: solid red 6px !important;
}

.error-text {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #a0522d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #8b4513;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ingredient-group {
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  flex: 1;
  margin-right: 10px;
}

.error-text {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

.ingredient-group input {
  flex: 1;
  margin-right: 10px;
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  padding: 0;
  margin-top: 5px;
}

.remove-btn:hover {
  background-color: #ff1a1a;
}

#add-ingredient{
  width: 150px;
  color: white;
  background-color: #4CAF50;
  margin-top: 0;
}

#add-ingredient:hover{
  background-color: #45a049;
}
