.create-recipe-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.85); /* Полупрозрачен фон */
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea, select {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: 'Poppins', sans-serif;
}

select {
  width: 99%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #a0522d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #8b4513;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ingredient-fields {
  display: flex;
  flex-direction: column;
}

.ingredient-fields input {
  margin-bottom: 10px;
}

#add-ingredient {
  width: auto;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#add-ingredient:hover {
  background-color: #218838;
}

.ingredient-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ingredient-group input {
  flex: 1;
  margin-right: 10px;
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  padding: 0;
  margin-top: 5px
}

.remove-btn:hover {
  background-color: #ff1a1a;
}
