.recipe-list {
    position: relative;
    margin: 70px auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 65px;
    z-index: 1;
    padding: 10px;
  }
  
  .recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 265px;
    height: 350px;
    margin: 0 auto;
  }
  
  .recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .recipe-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .recipe-card p {
    font-size: 14px;
    color: #777;
  }
  
  .recipe-card button {
    background-color: #a0522d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .recipe-card button:hover {
    background-color: #8b4513;
  }
  
  .buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .recipe-card .author {
    font-size: 12px;
    color: #555;
  }
  
  .no-recipes-message {
    font-size: 55px;
    color: black;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    margin-top: 250px;
    font-style: italic;
    border-radius: 15px;
    margin: 16%;
  }