.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  text-align: left;
  font-size: 18px;
}

input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: -5px;
  font-size: 15px;
}

input::placeholder {
  font-size: 16px;
  color: #888;
  font-family: 'Poppins', sans-serif;
}

button {
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 130px;
  margin: 0 auto;
}

button:hover {
  background-color: #45a049;
}

.signup-text {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 17px;
}

.signup-text a {
  color: #4CAF50;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
