.profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  text-align: center;
  width: 400px;
  z-index: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: hidden;
}

h2, h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.user-info {
  margin-bottom: 20px;
}

.user-info p {
  margin: 5px 0;
  font-size: 18px;
  color: #555;
}

button {
  padding: 10px 15px;
  background-color: #a0522d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 5px 0;
  width: 165px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #8b4513;
  transform: translateY(-2px);
}

button#cancel {
  background-color: #f44336;
}

button#cancel:hover {
  background-color: #e53935;
}

button#save {
  background-color: #4CAF50;
}

button#save:hover {
  background-color: #45a049;
}

button#save:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  transform: none;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}


button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.form-container {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-size: 16px;
  color: #333;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-top: -5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  font-size: 15px;
  color: #888;
  font-family: 'Arial', sans-serif;
}


.error-border {
  border-left: 6px solid red;
}

.error-text {
  color: red;
  font-size: 16px;
  margin-top: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.buttons button {
  width: 48%;
}
