<div class="recipe-detail" *ngIf="recipe">
    <h2>{{ recipe.title }}</h2>

    <p class="author">Author: {{ recipe.authorId.username }}</p>

    <img [src]="recipe.image" class="recipe-image" />

    <h3>Category:</h3>
    <p class="category">{{ recipe.category }}</p>

    <div class="recipe-description">
        <h3>Description:</h3>
        <p>{{ recipe.description }}</p>
    </div>

    <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
        </ul>
    </div>

    <div class="preparation">
        <h3>Preparation:</h3>
        <p>{{ recipe.preparation }}</p>
    </div>

    <div class="like-dislike" *ngIf="userId">
        <button *ngIf="userId !== recipe.authorId._id && !isLiked(recipe)" class="like-button"
            (click)="toggleLike(recipe)">
            Like
        </button>

        <button *ngIf="userId !== recipe.authorId._id && isLiked(recipe)" class="dislike-button"
            (click)="toggleLike(recipe)">
            Dislike
        </button>

        <p class="likes-count">Likes: {{ recipe.likes.length }}</p>
    </div>

    <div class="likes-only" *ngIf="!userId">
        <p class="likes-count">Likes: {{ recipe.likes.length }}</p>
    </div>

    <div class="edit-actions" *ngIf="userId === recipe.authorId._id">
        <button class="edit-button" (click)="onEdit()">Edit</button>
        <button class="delete-button" (click)="deleteRecipe()">Delete</button>
    </div>
</div>