.recipe-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .recipe-detail h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  .recipe-detail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .category, .recipe-description, .ingredients, .preparation {
    margin: 20px 0;
  }

  .recipe-description p {
    overflow-wrap: break-word;
  }

  .preparation p{
    overflow-wrap: break-word;
  }

  .ingredients li{
    overflow-wrap: break-word;
  }

  .recipe-detail h2{
    overflow-wrap: break-word;
  }

  .author {
    color: rgb(94, 94, 94);
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}
  
  button {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
  }
  
  .like-button {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  .dislike-button {
    background-color: red;
    color: white;
    border: none;
  }
  
  .dislike-button:hover {
    background-color: darkred;
  }
  
  .like-button:hover {
    background-color: #45a049;
  }
  
  .edit-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .like-dislike {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  