<nav class="navbar">
    <div class="nav-center">
        <ul>
            <li routerLink="/">Home</li>
            <li routerLink="/recipes">Catalog</li>
            <li>Search</li>
            <li>Create Recipe</li>
            <li>My Recipes</li>
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li routerLink="/login">Log in</li>
            <li routerLink="/register">Register</li>
            <li>Niki's Profile</li>
            <li>Logout</li>
        </ul>
    </div>
</nav>
