<nav class="navbar">
  <div class="nav-center">
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/recipes">Catalog</li>
      <li routerLink="/search">Search</li>
      <li *ngIf="isLoggedIn" routerLink="/create-recipe">Create Recipe</li>
      <li *ngIf="isLoggedIn" routerLink="/my-recipes">My Recipes</li>
    </ul>
  </div>

  <div class="nav-right">
    <ul>
      <li *ngIf="!isLoggedIn" routerLink="/login">Log in</li>
      <li *ngIf="!isLoggedIn" routerLink="/register">Register</li>

      <li *ngIf="isLoggedIn" routerLink="/profile">{{ username }}'s Profile</li>
      <li *ngIf="isLoggedIn" (click)="logout()">Logout</li>
    </ul>
  </div>
</nav>
