@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #935936;
    padding: 10px 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  

.nav-center {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.nav-right {
    margin-left: auto; 
    display: flex;
    gap: 20px; 
}

.nav-center ul,
.nav-right ul {
    display: flex;
    gap: 20px; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.nav-center li, .nav-right li {
    cursor: pointer; 
    font-size: 18px; 
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}


.nav-center li:hover, .nav-right li:hover {
    transform: scale(1.1);
}


.nav-center li::after, .nav-right li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}


.nav-center li:hover, .nav-right li:hover {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
}
