.recipe-list {
    position: relative;
    margin: 70px auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    z-index: 1;
    padding: 10px;
  }
  
  .recipe-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .recipe-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .recipe-card button {
    background-color: #a0522d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recipe-card button:hover {
    background-color: #8b4513;
  }
  