.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: rgb(30, 30, 30);
    font-family: 'Poppins', sans-serif;
  }
  
  .styled-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }
  