@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.styled-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

router-outlet {
  flex: 1;
  z-index: 1;
}
