@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


footer { 
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    background-color: #935936;
    border: 1px solid black;
    height: 60px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

