.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: rgb(56, 56, 56);
}

.styled-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
