  .image-overlay {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .image-overlay h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .image-overlay p {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .cta-btn {
    background-color: #935936;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
  }