<div class="app-search">
  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading">
    <div class="search-container">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search by name..."
          [(ngModel)]="searchQuery"
          (input)="filterRecipes()"
        />
        <select [(ngModel)]="selectedCategory" (change)="filterRecipes()">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <button (click)="clearFilters()">Clear</button>
      </div>

      <div *ngIf="filteredRecipes.length > 0; else noRecipes" class="recipe-list">
        <div class="recipe-card" *ngFor="let recipe of filteredRecipes">
          <img [src]="recipe.image" alt="{{ recipe.title }}" />
          <h3>{{ recipe.title | slice : 20 }}</h3>
          <p>Category: {{ recipe.category }}</p>
          <div class="buttons">
            <button [routerLink]="['/recipes', recipe._id]">Details</button>
          </div>
          <div class="author">Author: {{ recipe.authorId.username | slice: 30 }}</div>
        </div>
      </div>

      <ng-template #noRecipes>
        <div class="no-recipes-wrapper">
          <p class="no-recipes-message">No recipes found. Try adjusting your search criteria.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
